{% if user.gender == 'male' %}
آقای {{ user.username }}

{% elif user.gender == 'female' %}
    خانم {{ user.username }}

    {% else %}
    {{ user.username }} عزیز
{% endif %}

این ایمیل حاوی لینک بازسازی کلمه عبور از طرف سامانه کتاب یار است . برای بازسازی کلمه عبور خود روی لینک زیر کلیک کنید :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token%}

اگر این ایمیل اشتباه برای شما ارسال شده ، لطفا آن را حذف کنید
با تشکر سامانه کتاب یار
{{ protocol }}://{{ domain }}{% url 'home' %}