{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block nav-links %}
    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">خانه</a></li>
    {#                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary navhover">کتاب دوستان</a></li>#}
    <li><a href="{% url 'home' %}#about" class="nav-link px-2 text-secondary navhover">درباره ما</a></li>
    <li><a href="{% url 'home' %}#contact" class="nav-link px-2 text-secondary navhover">ارتباط با ما</a></li>
    <li><a href="{% url 'blog_list' %}" class="nav-link px-2 text-secondary navhover">بلاگ</a></li>
    <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-secondary navhover">کتاب های اضافه شده</a></li>
    <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-secondary navhover">کتاب های مورد نیاز</a></li>
{% endblock nav-links %}

{% block page-title %}ثبت نام در کتاب یار{% endblock page-title %}

{% block page-content %}


    <div class="container">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong shadow" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <h3 class="mb-5">ثبت نام</h3>

                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-success btn-lg btn-block mt-3" type="submit">تکمیل ثبت نام</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

{% endblock page-content %}


<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<!-- endbootstrap -->
</body>

</html>