{% extends '_base_panel.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page-title %}پنل کاربری {{ user.username }}{% endblock page-title %}

{% block nav-links %}
    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">خانه</a></li>
    {#                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary navhover">کتاب دوستان</a></li>#}
    <li><a href="{% url 'home' %}#about" class="nav-link px-2 text-secondary ">درباره ما</a></li>
    <li><a href="{% url 'home' %}#contact" class="nav-link px-2 text-secondary ">ارتباط با ما</a></li>
    <li><a href="{% url 'blog_list' %}" class="nav-link px-2 text-secondary ">بلاگ</a></li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            کتاب ها
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-secondary ">کتاب های اضافه شده</a></li>
            <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-secondary ">کتاب های درخواستی</a></li>
        </ul>
    </li>
{% endblock nav-links %}


{% block panel-content %}
    {% for book in books %}
        <div class="card shadow-sm">
            <h5 class="card-header">{{ book.user.username }} | {{ book.grade }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ book.lesson }}</h5>
                <h6 class="card-title text-muted">ایجاد شده در تاریخ : {{ book.date_created }}</h6>
                <p class="card-text">{{ book.description|truncatewords:25 }}</p>
                <a href="{{ book.get_absolute_url }}" class="btn btn-primary text-left">مشاهده جزئیات</a>
            </div>
        </div>
    {% endfor %}
{% endblock panel-content %}

{% block panel-nav %}

    <li class="nav-item">
        <a href="{% url 'panel' user.id %}" class="nav-link link-dark" aria-current="page">
            مشخصات
        </a>
    </li>
    <li>
        <a href="{% url 'panel_added_books' user.id %}" class="nav-link link-dark">
            کتاب های اضافه شده
        </a>
    </li>
    <li>
        <a href="{% url 'panel_needed_books' user.id %}" class="nav-link active">
            کتاب های درخواستی
        </a>
    </li>
    <li>
        <a href="{% url 'panel_posts' user.id%}" class="nav-link link-dark">
            مقالات نوشته شده
        </a>
    </li>
{% endblock panel-nav %}
