{% extends '_base_panel.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page-title %}پنل کاربری {{ user.username }}{% endblock page-title %}

{% block nav-links %}
    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">خانه</a></li>
    {#                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary navhover">کتاب دوستان</a></li>#}
    <li><a href="{% url 'home' %}#about" class="nav-link px-2 text-secondary ">درباره ما</a></li>
    <li><a href="{% url 'home' %}#contact" class="nav-link px-2 text-secondary ">ارتباط با ما</a></li>
    <li><a href="{% url 'blog_list' %}" class="nav-link px-2 text-secondary ">بلاگ</a></li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            کتاب ها
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-secondary ">کتاب های اضافه شده</a></li>
            <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-secondary ">کتاب های درخواستی</a></li>
        </ul>
    </li>
{% endblock nav-links %}


{% block panel-content %}
    {% for post in posts %}

            <div class="card m-2" style="max-width: 45%">
            <div class="row g-0 h-100" dir="rtl">
            <div class="col-md-4">
            {% if post.post_cover %}
                <a href="{{ post.get_absolute_url }}">
                    <img src="{{ post.post_cover.url }}"
                         class="img-fluid rounded-start" alt="..."></a>
            {% else %}
                <a href="{{ post.get_absolute_url }}">
                    <img src="/media/book_covers/dsBuffer.jpg"
                         class="img-fluid rounded-start" alt="کتاب {{ post.title }}"></a>

        {% endif %}
    </div>
    <div class="col-md-8 h-100">
        <div class="d-flex flex-column justify-content-between h-100">
            <div class="card-body">
                {% if post.is_active == True %}
                    <span class="badge bg-success">تایید شده</span>
                {% else %}
                    <span class="badge bg-primary">در حال بررسی</span>
                {% endif %}
                <a style="text-decoration: none; color : black;" href="{{ post.get_absolute_url }}">
                    <h3 class="card-title"><strong>{{ post.title }}</strong></h3>
                </a>
                <p class="card-text pt-3">{{ post.description|truncatewords:20 }}</p>
                <p class="text-muted">نویسنده: {{ post.author }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">مشاهده جزئیات</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    {% endfor %}
{% endblock panel-content %}

{% block panel-nav %}

    <li class="nav-item">
        <a href="{% url 'panel' user.id %}" class="nav-link link-dark" aria-current="page">
            مشخصات
        </a>
    </li>
    <li>
        <a href="{% url 'panel_added_books' user.id %}" class="nav-link link-dark">
            کتاب های اضافه شده
        </a>
    </li>
    <li>
        <a href="{% url 'panel_needed_books' user.id %}" class="nav-link link-dark">
            کتاب های درخواستی
        </a>
    </li>
    <li>
        <a href="{% url 'panel_posts' user.id %}" class="nav-link active">
            مقالات نوشته شده
        </a>
    </li>
{% endblock panel-nav %}
