{% extends '_base_blog.html' %}

{% block page-title %}
    حذف کتاب {{ post.title }}
{% endblock page-title %}

{% block nav-links %}
            <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">خانه</a></li>
    {#                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary navhover">کتاب دوستان</a></li>#}
    <li><a href="{% url 'home' %}#about" class="nav-link px-2 text-secondary ">درباره ما</a></li>
    <li><a href="{% url 'home' %}#contact" class="nav-link px-2 text-secondary ">ارتباط با ما</a></li>
    <li><a href="{% url 'blog_list' %}" class="nav-link px-2 text-dark border-bottom border-dark">بلاگ</a></li>
    <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-secondary ">کتاب های اضافه شده</a></li>
    <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-secondary ">کتاب های درخواستی</a></li>
{% endblock nav-links %}

{% block page-content %}

    <div class="container">
    <div class="card">
        <div class="card-title">
            آیا مطمئنید ؟
        </div>
        <div class="card-subtitle">
            آیا از حذف نوشته با عنوان {{ post.title }} مطمئنید ؟
        </div>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger">بله حذف شود</button>
            <a href="{% url 'blog_list' %}" class="btn btn-primary">بازگشت به بلاگ</a>
        </form>
    </div>
    </div>

{% endblock page-content %}