{% extends '_base_blog.html' %}
{% block page-title %}بلاگ کتاب یار{% endblock page-title %}

{% block nav-links %}
    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">خانه</a></li>
    {#                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary navhover">کتاب دوستان</a></li>#}
    <li><a href="#about" class="nav-link px-2 text-secondary ">درباره ما</a></li>
    <li><a href="#contact" class="nav-link px-2 text-secondary ">ارتباط با ما</a></li>
    <li><a href="{% url 'blog_list' %}" class="nav-link px-2 text-dark border-bottom border-dark">بلاگ</a></li>
    <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-secondary ">کتاب های اضافه شده</a></li>
    <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-secondary ">کتاب های مورد نیاز</a></li>
{% endblock nav-links %}

{% block page-content %}


    <div class="container">
        <div class="row">

            <div class="col-3">
                <div class="card shadow-sm">
                    <div class="card-header">
                        فیلتر
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">پایه</li>
                        <li class="list-group-item">درس</li>
                        <li class="list-group-item">...</li>
                    </ul>
                </div>

            </div>

            <div class="col-9">
                {% for post in posts %}
                    {% if post.is_active == True %}

                        <div class="card m-2" style="max-width: 45%">
                        <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                        {% if post.post_cover %}
                            <a href="{{ post.get_absolute_url }}">
                                <img src="{{ post.post_cover.url }}"
                                     class="img-fluid rounded-start" alt="..."></a>
                        {% else %}
                            <a href="{{ post.get_absolute_url }}">
                                <img src="/media/book_covers/dsBuffer.jpg"
                                     class="img-fluid rounded-start" alt="کتاب {{ post.title }}"></a>


                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-8 h-100">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="card-body">
                            <a style="text-decoration: none; color : black;" href="{{ post.get_absolute_url }}">
                                <h3 class="card-title"><strong>{{ post.title }}</strong></h3>
                            </a>
                            <p class="card-text pt-3">{{ post.description|truncatewords:20 }}</p>
                            <p class="text-muted">نویسنده: {{ post.author }}</p>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                {% endfor %}


            </div>


        </div>


    </div>





{% endblock page-content %}