{% extends '_base_blog.html' %}

{% load crispy_forms_tags %}

{% block page-title %}
    ایجاد درخواست جدید
{% endblock %}

{% block nav-links %}
    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">خانه</a></li>
    {#                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary navhover">کتاب دوستان</a></li>#}
    <li><a href="{% url 'home' %}#about" class="nav-link px-2 text-secondary ">درباره ما</a></li>
    <li><a href="{% url 'home' %}#contact" class="nav-link px-2 text-secondary ">ارتباط با ما</a></li>
    <li><a href="{% url 'blog_list' %}" class="nav-link px-2 text-secondary">بلاگ</a></li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-dark border-bottom border-dark" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            کتاب ها
        </a>
        <ul class="dropdown-menu">
            {% if book.need_or_add == 'add' %}

                <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-dark border-bottom border-dark">کتاب های
                    اضافه
                    شده</a></li>
            {% else %}
                <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-secondary">کتاب های اضافه شده</a></li>
            {% endif %}
            {% if book.need_or_add == 'need' %}
                <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-dark border-bottom border-dark">کتاب
                    های
                    درخواستی</a></li>
            {% else %}
                <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-secondary ">کتاب های درخواستی</a></li>
            {% endif %}
        </ul>
    </li>

{% endblock nav-links %}

{% block page-content %}
    <div class="container mt-4" dir="rtl">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3">
                    <h5 class="card-header bg-primary text-light px-5">ایجاد درخواست جدید</h5>
                    <div class="px-5 pt-3 pb-5">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success mt-2">ایجاد</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">

                <div class="card my-3 shadow">
                    <h5 class="card-header bg-warning text-light">راهنما</h5>
                    <div class="card-body">
                        <p class="card-text">
                            عنوان و توضیحات کتاب مورد نظر خود را وارد کنید.
                            توجه داشته باشید که نوشته خود را در دسته بندی مناسب قرار دهید تا یافتن آن برای کاربران هموار
                            باشد.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
