{% extends '_base.html' %}

{% block title %}کتاب های مورد نیاز{% endblock title %}


{% block nav-links %}
    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">خانه</a></li>
    {#                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-secondary navhover">کتاب دوستان</a></li>#}
    <li><a href="{% url 'home' %}#about" class="nav-link px-2 text-secondary ">درباره ما</a></li>
    <li><a href="{% url 'home' %}#contact" class="nav-link px-2 text-secondary ">ارتباط با ما</a></li>
    <li><a href="{% url 'blog_list' %}" class="nav-link px-2 text-secondary">بلاگ</a></li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-dark border-bottom border-dark" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            کتاب ها
        </a>
        <ul class="dropdown-menu">

            <li><a href="{% url 'added_books' %}" class="nav-link px-2 text-secondary">کتاب های اضافه شده</a></li>
            <li><a href="{% url 'needed_books' %}" class="nav-link px-2 text-dark ">کتاب های درخواستی</a></li>
        </ul>
    </li>
{% endblock nav-links %}

{% block page-content %}

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card shadow-sm">
                    <div class="card-header">
                        فیلتر
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">پایه</li>
                        <li class="list-group-item">درس</li>
                        <li class="list-group-item">...</li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                {% for book in books %}
                    <div class="card shadow-sm">
                        <h5 class="card-header">{{ book.user.username }} | {{ book.get_grade_display }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{ book.get_lesson_display }}</h5>
                            <h6 class="card-title text-muted">ایجاد شده در تاریخ : {{ book.date_created }}</h6>
                            <p class="card-text">{{ book.description|truncatewords:25 }}</p>
                            <a href="{{ book.get_absolute_url }}" class="btn btn-primary text-left">مشاهده جزئیات</a>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>
    </div>



{% endblock page-content %}